= link_to 'New Project', new_project_path, :class => "lbutton vm"

%table.round-borders#projects-list
  %tr
    %th Name
    %th Path
    %th Code
    %th Actions

  - @projects.each do |project|
    %tr{ :class => "project", :url => project_path(project) }
      %td= project.name
      %td= truncate project.url_to_repo
      %td= project.code
      %td 
        = link_to 'Edit', edit_project_path(project), :class => "lbutton positive"
        = link_to 'Remove', project, :method => :delete, :confirm => "Are you sure?", :class => "lbutton negative"
%br

