<div id="header-panel">
  <div class="container">
    <div class="span-24">
      <div class="span-10">
        <%#= image_tag "git.png", :height => 40, :class => "left" %>
        <%#= link_to "gitlab", root_path, :id => "logo" %>
        <span class="search-holder">
          <%= text_field_tag "search", nil, :placeholder => "Search"  %>
        </span>
      </div>
      <div class="right">
        <%= link_to truncate(@project.name, :length => 20), project_path(@project), :class => "current button" if @project && !@project.new_record? %>
        <%= link_to 'Home', root_path, :class => current_page?(root_url) ? "current button" : "button" %>
        <%= link_to 'Projects', projects_path, :class => current_page?(projects_path) ? "current button" : "button" %>
      </div>
    </div>
  </div>
</div>


<%= javascript_tag do %>
  $(function() {
  $("#search" ).autocomplete({
  source: <%= raw search_autocomplete_source %>,
  select: function(event, ui) { location.href = ui.item.url }
  });
  });
<% end %>
